


ul {
    list-style-position: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: paleturquoise;
}

li {
    float: left;
}

li a{
    display: block;
    color: rgb(235, 117, 205);
    text-align: center;
    padding: 14px 16px;
    text-decoration: rgb(90, 179, 238);
}

li a :hover:not(.active) {
    background-color: rgb(255, 0, 43);
}

.active {
    background-color: rgb(145, 109, 255);;
}

* body {
    background-color: rgb(185, 234, 255);
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(10%); 
    -webkit-transform: scale(10%); 
    transform: scale(10%); 
  }