


ul {
    list-style-position: outside;
    margin: 20px;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
}

li {
    float: left;
}

li a{
    display: block;
    color: rgb(121, 22, 22);
    text-align: center;
    padding: 14px 16px;
    text-decoration: rgb(241, 52, 52);
}

li a :hover:not(.active) {
    background-color: rgb(255, 0, 43);
}

.active {
    background-color: rgb(168, 122, 58);;
}

* body {
    background-color: rgb(50, 0, 93);
    color: cornsilk;
}

.zoom {
    padding: 50px;
    background-color: green;
    transition: transform .2s;
    width: 500px;
    height: 500px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    -ms-transform: scale(10%); 
    -webkit-transform: scale(10%); 
    transform: scale(10%); 
  }
  
  .footer {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    font-size: 13px;
    padding: 10px;
  }